node_modules
.env
.DS_Store
.nyc_output
logs
docs
reports

playground
test
.eslintignore
.eslintrc.json
.gitignore
.npmignore
.nycrc.json
.prettierignore
.prettierrc.json
CONTRIBUTING.md
jsdoc.json
package-lock.json
tsconfig.json
